<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Course Management</title>
</head>
<body>

    <div class="container my-2">

        <a class="btn btn-primary my-2" role="button" href="/ui/student/add">Add New Student</a>
        <a href="/" class="btn btn-primary">Return Home</a>

        <table class="table table-striped my-2">
            <thead>
            <tr>
                <th scope="col">Student Id</th>
                <th scope="col">Student Name</th>
                <th scope="col">Student Semester</th>
                <th scope="col">Student Year</th>
                <th scope="col">Delete</th>
                <th scope="col">update</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student: ${students}">
                <td scope="row" th:text="${student.studentId}"></td>
                <td><a th:href="@{'/ui/student/' + ${student.studentId}}" th:text="${student.studentName}"></a></td>
                <td th:text="${student.studentSemester}"></td>
                <td th:text="${student.studentYear}"></td>
                <td>
                    <form action="#" th:action="@{'/ui/student/delete/' + ${student.studentId}}" method="post">
                        <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
                    </form>
                </td>
                <td>
                    <form action="#" th:action="@{'/ui/student/update/' + ${student.studentId}}" method="get">
                        <button type="submit" class="btn btn-outline-primary btn-sm">Update</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


</body>
</html>